@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 235 62% 73%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --testing: 0 50% 50%;

    --background: 0 0% 10%;
    --background-secondary: 0 0% 100%;
    --background-section: 0 0% 10%;

    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 100%;
    --text-accent: 0 64% 50%;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */

  .dark {
    --background: 17 21% 94%;
    --background-section: 237 61% 7%;

    --text-primary: 17 21% 94%;
    --text-accent: 156 23% 34%;
    --text-bg-blend: 237 61% 7%;
    --text-shadow: hsla(17, 21%, 94%, 0.075);
  }

  .light {
    --background: 237 61% 7%;
    --background-section: 17 21% 94%;

    --text-primary: 237 61% 7%;
    --text-bg-blend: 17 21% 94%;
    --text-accent: 156 23% 34%;
    --text-shadow: hsla(237, 61%, 7%, 0.075);
  }

  .case-study {
    --background: 237 61% 7%;
    --background-section: 156 23% 34%;

    --text-primary: 0 0% 100%;
    --text-secondary: 0 0% 100%;
    --text-accent: 237 61% 7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-text-size-change {
    @apply duration-1000;
    transition-property: font-size, line-height;
  }

  .animate-bg-text-change {
    @apply animate-text-size-change delay-1000;
  }

  .font-hero {
    @apply font-bold text-8xl;
  }

  .text-tagline {
    @apply text-sm xl:text-xl font-bold animate-text-size-change;
    transition-property: font-size, line-height, transform;
  }

  .text-holder {
    @apply leading-relaxed sm:leading-loose text-xl xl:text-4xl/[1.5] animate-text-size-change;
  }

  .text-bg {
    @apply text-[268px] xl:text-[400px] tracking-[-0.07em] whitespace-nowrap font-bold animate-bg-text-change;
  }

  .page-x-gutter {
    @apply px-20;
  }
}
